<div class="d-flex">
  <h1 class="flex-grow-1">Lista de Clientes</h1>
  <div class="list-actions">
    <%= link_to "Novo", new_customer_path, class: "btn btn-primary" %>
  </div>
</div>

<%= render @customers %>